name: Ilan Kontrol

on:
  schedule:
    - cron: "*/10 * * * *"
  workflow_dispatch:

jobs:
  run-checker:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Python kur
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Paketleri kur
        run: |
          python -m pip install --upgrade pip
          pip install requests beautifulsoup4

      - name: Scripti çalıştır
        run: python checker.py
